
* {
    margin: 0% auto;
    padding: 0%;
    box-sizing: border-box;

}

body {
    background-color: #e5e5e5;
}

.myheader {
    background: #fff9f4;
    ;
    overflow-x: hidden;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 0%;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 23px;
    width: 100%;
    height: 56px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.navbar {
    margin-top: 0%;
    background-color: #fff9f4;
    position: fixed;
}

h1 {
    color: #363958;
    font-size: larger;
}

.nikelogo img {
    height: 26px;
    width: 77px;
    object-fit: cover;
    margin-top: 7px;
    padding-left: 30px;
}

.nikelogo span {
    color: #ff8367;
}

.nikelogo a {
    text-decoration: none;
    color: black;
    font-size: 26px;
    font-weight: 900;
    text-transform: uppercase;
}


.menubar {
    display: none;
    cursor: pointer;
    font-size: 26px;
}

.fa-bars {
    font-size: 26px;
    color: black;
}

.nav-link {
    margin: 10px;
}

.nav-link img {
    margin: 3px;
    height: 32px;
    width: 32px;
    margin-top: -4px;
    margin-left: 2px;
}

.nav-link a {
    color: black;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 70;
}

.nav-link a:hover {
    color: rgba(0, 0, 0, .7);

}

.navbar li {
    display: flex;
    justify-content: space-between;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.btnnow {
    width: 129px;
    height: 44px;
    opacity: 1;
    border-radius: 10px;
    background-color: #3D4FF3;
    border: none;
    color: white;
    margin: 0%;
    margin-top: 3vh;
    margin-left: 8px;
    text-transform: uppercase;
}

.container {
    display: flex;
    height: 40px;
    margin-left: 100px;
    padding-left: 10px;
}

.artical {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    flex-wrap: wrap;
    margin: 0% auto;
}

.lorem {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    width: 414px;
    padding-left: 30px;
}

.react {
    color: #ff8367;
}

.col {
    display: flex;
}

.col img {
    height: 479px;
    width: 522px;
}

.lorem p {
    margin-top: 3vh;
    line-height: 3vh;
}

h1 {
    color: #363958;
    width: 414px;
    text-transform: uppercase;
    font-size: 7vh;
    font-weight: bold;
    padding: 10px;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.col {
    display: flex;
}

.cardContainer {
    width: 80%;
    margin: 30px auto;
    flex-wrap: wrap;
}

/* .card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
} */

.card {
    height: 500px;
    width: 330px;
    flex-wrap: wrap;
    border-radius: 12px;
    /* margin: 10px; */
    text-align: center;
    background-color: white;
}

.btn {
    background: #3d4ff3;
    border: none;
    padding: 12px 25px;
    border-radius: 10px;
    color: white;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
}

.btnnow:hover {
    background: #3d4ff3;
}

.price {
    color: orange;
    font-size: 20px;
    margin: 10px 0;
}

.main {
    width: 40%;
    display: flex;
}

.main img {
    padding: 2vh;
    width: 80%;
}

ins {
    text-decoration: none;
    color: #ff8367;
    font-size: 4vh;
    padding: 4vh;
    padding-right: 20vh;
    font-weight: bold;
}

.card img {
    width: 300px;
    height: 330px;
    background-color: #F1F1F1;
    flex-wrap: wrap;
}

.card p {
    line-height: 3vh;
    padding: 1vh;
}

.features-box {
    width: 40%;
}

.section img {
    height: 85px;
    width: 80px;
}

.section {
    width: 67vh;
    height: 144px;
    display: flex;
    gap: 3vh;
    padding: 30px;
    text-align: center;
    background-color: white;
    margin: 1vh;
    border-radius: 2vh;
}

.section p {
    line-height: 3vh;
    padding: 1vh;
}

.section div {
    height: 112px;
    width: 289px;
}

.features {
    margin: 0% auto;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
    flex-wrap: wrap;
}

article {
    background-color: #e5e5e5;
}

span {
    color: #ff8367;
}

h2 {
    color: #363958;
    font-size: 6vh;
    font-weight: 900;
}

h3 {
    color: #363958;
}
.cardcollection{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.allCards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.subscribe {
    height: 185px;
    width: 913px;
    flex-wrap: wrap;
}

.subscribe h2 {
    text-align: center;
    padding-top: 6vh;
    padding-bottom: 3vh;
    text-transform: uppercase;
    font-size: 4vh;
    font-weight: 4vh;
    word-spacing: 2px;
}

.subscribe input {
    height: 44px;
    width: 767px;
    padding-left: 3vh;
    margin-left: 4vh;

}

.subscribe button {
    background-color: #3D4FF3;
    color: #F1F1F1;
    width: 90px;
    height: 44px;
    margin-left: -6px;
    border: none;
    font-weight: 900;
}

.new {
    background-color: white;
    height: 190px;
    width: 920px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 4vh;
    margin-top: 8vh;
}

.footer-items {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-top: 8vh;
    padding-top: 8vh;
}

.footer-items h3 {
    font-size: 4vh;
    font-weight: 3vh;
    color: #363958;
    margin: 20px 0 10px 0;
}

.footer-items ul {
    list-style: none;
    margin-bottom: 20px;
}

.footer-items li a {
    color: #232f3e;
    font-size: 0.875rem;
    text-decoration: none;
}

footer {
    height: 250px;
    width: 100%;
    background-color: white;
    border-radius: 1vh;
}

.copy {
    text-align: center;
    padding-top: 4vh;
}

.copy h1 {
    color: #232f3e;
}

@media only screen and (max-width:950px) {

    .features {
        flex-direction: column;
        align-items: center;
    }

    .features-box {
        width: 80%;
        align-items: center;
    }

    .section {
        width: 80%;
    }

    .main {
        width: 80%;
    }

    .new {
        width: 700px;
    }

    .subscribe input {
        width: 550px;
    }
}

@media only screen and (max-width:720px) {
    .new {
        width: 550px;
    }

    .subscribe input {
        width: 400px;
    }

    .container {
        display: none;
    }

    .menubar {
        display: flex;
        cursor: pointer;
        font-size: 26px;

    }

    .fa-bars {
        font-size: 26px;
        color: black;
        cursor: pointer;

    }
}

@media only screen and (max-width:650px) {
    .footer-items {
        display: flex;
        flex-direction: column;
    }

    .footer-items ul {
        align-items: center;
    }

    .section {
        width: auto;
    }

    footer {
        width: auto;
        height: auto;
    }

}

@media only screen and (max-width:576px) {

    .section {
        width: 100%;
    }

}